/*configuración que ya viene en la pagina de themify*/
@font-face {
	font-family: 'themify';
	src:url('../fonts/themify.eot?-fvbane');
	src:url('../fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/themify.woff?-fvbane') format('woff'),
		url('../fonts/themify.ttf?-fvbane') format('truetype'),
		url('../fonts/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Mejora de fuentes */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* ICONOS*/
/*logo configuración*/
.ti-settings:before {
	content: "\e60f";
}

.ti-control-backward:before {
	content: "\e6b0";
}

/* logo flecha para arriba */
.ti-arrow-up:before {
	content: "\e627";
}

/*logo menu*/
.ti-menu:before {
	content: "\e68e";
}

