* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 100%;/*este y el que sigue es para que la página se achique o agrande segun se modifique*/
  height: auto;
}

body {
  background-color: #fff;
  font-family: "Century Gothic";
  font-size: 15px;
}

section { /* CAJA DE SECCION*/
  width: 100%;
  max-width: 600px; 
  margin: 0px auto;
  display: table;
  position: relative;
}

.bug p { /*parrafo de sections*/
  font-size: 15px;
  color: #000;
  top: 50%;
  left: 50%;
}


.centrado{ /*texto de imágen principal*/
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
    font-family: "Garamond";
}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px; /*tamaño*/
  list-style: none;
  background-color: #B22222;
  font-family: "Century Gothic";

}


/*imágen principal*/
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 100%;

}

footer{ 
    background: #000;
    padding: 10px;
    text-align: center;

}

.contenedor-footer-content{ /*contenedor footer*/
    justify-content: center;
    align-items:center;
 
}

.contact-us{ /* copyright */
    /*font-size: 13px;*/
    width: 100%;
    color: #fff;
    text-align: center; 
     /*tamaño el footer*/ 
    padding-top:3px;
    padding-bottom:3px; 
}